/* Common style here  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
/* Sheard styles  */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.sec-title {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.sec-description {
  color: #727272;
}
.btn-primary {
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  padding: 1.2rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: #ff900e;
}

/* Header section style here  */
header {
  padding: 30px 150px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #131313;
  font-size: 2.5rem;
  font-weight: 700;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
}
nav ul li a:hover {
  background: rgba(255, 143, 14, 0.295);
}
/* Banner styles here  */
.banner-content {
  max-width: 862px;
  margin: 25px auto;
  padding: 1rem;
  text-align: center;
}
.main-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}
.banner img {
  width: 96%;
  padding: 1rem;
}
/* Features styles here */
main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 50px 150px;
}
.featur-container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.featur-img {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.featur-img img {
  width: 100%;
}
.featur-description {
  width: 100%;
}
/* Love features styles here  */
.card {
  padding: 30px;
  margin-bottom: 1rem;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.card-title {
  margin-bottom: 10px;
  color: #131313;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
}
.love-feature-contan {
  width: 100%;
}
.love-feature-img {
  position: relative;
  width: 100%;
}
.love-feature-img img {
  width: 100%;
}
.expariance {
  width: 250px;
  color: #fff;
  border-radius: 8px;
  background: #ff900e;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: -50px;
  left: -50px;
}
.expariance h2 {
  font-size: 4rem;
  font-weight: 700;
}
.expariance p {
  font-size: 1.8rem;
  font-weight: 500;
}
/* facts styles here  */
.facts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.facts-card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 30px 0px;
  margin-top: 30px;
}
.facts-card h2 {
  color: #424242;
  font-size: 2.5rem;
  font-weight: 600;
}
.facts-card p {
  color: #727272;
  font-size: 1.2rem;
  font-weight: 600;
}
/* sponsor style here  */
.sponsor-content {
  max-width: 540px;
  margin: 30px auto;
  text-align: center;
}
.sponsor-container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  align-items: center;
  justify-content: space-evenly;
}
.sponsor-container img {
  width: 50%;
}
/* footer area here  */
footer {
  text-align: center;
  border-radius: 8px;
  background: #fff4e7;
  padding: 30px 0px;
  font-size: 1.2rem;
  color: #424242;
}
/* responsive media query */
@media screen and (max-width: 576px) {
  header {
    padding: 1.5rem 1rem;
  }
  nav,
  .featur-container {
    flex-direction: column;
  }
  main {
    padding: 1.5rem 1rem;
  }
  .main-title {
    font-size: 2.5rem;
  }
  .featur-img,
  .facts {
    grid-template-columns: repeat(1, 1fr);
  }
  .expariance {
    bottom: -150px;
    left: 0;
  }
  .sponsor-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
  header {
    padding: 1.5rem 1rem;
  }
  nav,
  .featur-container {
    flex-direction: column;
  }
  main {
    padding: 1.5rem 1rem;
  }
  .facts {
    grid-template-columns: repeat(2, 1fr);
  }
  .sponsor-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
